/* google-fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}


a{
    text-decoration: none;
}
.container{
    max-width: 1440px;
    margin: 0 auto;
}

/* Reactangle-css */

.banner{
    top: 0;
    left: 0;
    width: 100%;
    height: 677px;
    position: relative;
    overflow: hidden;
    background: #2D25A0;
}


.banner-inner{
    display: flex;
    margin-top: 115px;
    justify-content: space-between;
    align-items: center;
}

.banner-left {
    width: 35%;
}


.banner-left h1{
    color: #fff;
    font-size: 64px;
    font-weight: bold;
    line-height: 80px;
    font-family: 'Poppins';
}

.banner-left span{
    padding: 10px 24px;
    background: #E02C6D;
    transition: 0.3s;
}

.banner-left span a {
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    font-family: 'Poppins';
    
}

.banner-left span i{
    color: #fff;
    margin-left: 15px;
}


.banner-left span:hover{
  background: rgb(221, 97, 143);
}


.banner-right img{
    width: 556px;
    height: 438px;
}


/* Animation-area */


.banner-right .animated {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
  }

  @-webkit-keyframes up-down {
    0% {
      transform: translateY(10px);
    }
    100% {
      transform: translateY(-10px);
    }
  }
  
  @keyframes up-down {
    0% {
      transform: translateY(10px);
    }
    100% {
      transform: translateY(-10px);
    }
  }


/* Card-Style */

.margin-top{
    margin-top:80px;
}

.card-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2em;
}


.card{
    padding: 15px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px grey;
}

.card-img img{
    width: 100%;
}

.card h2{
    color: #18191F;
    font-size: 28px;
    line-height: 40px;
    font-weight: bold;
}

.card p{
    color:  #6C6C6C;
    font-size: 16px;
    line-height: 26px;
}



.about h1{
    margin: 0;
    font-size: 48px;
    line-height: 60px;
    color: #0A0826;
}

.about  p{
   color: #6C6C6C;
   margin-bottom: 36px;
}




.clints{
    padding: 10px 0;
    background: #f6f6f7;
}

.wrapper{
    display: flex;
    align-items: center;
}

.clints-img img{
    width: 35%;
    filter: grayscale(100);
    transition: 0.4s ease-in-out;
    padding: 15px 0;
    display: inline-block;
}

.clints-img:hover img{
    filter: none;
    transform: scale(1.1);
}



/* Live-watch */


.live-wrapper {
    text-align: center;
}

.live-wrapper h2{
    font-size: 38px;
    font-weight: 600;
    letter-spacing: 5px;
}
/* Footer-css */


.footer-item {
    text-align: center;
}

.footer-item img{
    height: 100px;
    width: 400px;
}



.social-icon span i{
    background: #969BAB;
    padding: 10px 10px;
    border-radius: 50px;
}


.footer-item p{
    color: #000000;
    font-size:18px;
    line-height: 24px;
}
