/* google-fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');


/* Global-Css-Style */
body{
    margin: 0;
    font-family: 'Poppins', sans-serif;
}


a{
    text-decoration: none;
}


.margin-top{
    margin-top:80px;
}
.container{
    max-width: 1440px;
    margin: 0 auto;
}



/* Banner-Css-Style */

.banner{
    top: 0;
    left: 0;
    width: 100%;
    height: 677px;
    position: relative;
    overflow: hidden;
    background: #2D25A0;
}


.banner-inner{
    display: flex;
    margin-top: 115px;
    justify-content: space-between;
    align-items: center;
}

.banner-left {
    width: 35%;
}


.banner-left h1{
    color: #fff;
    font-size: 64px;
    font-weight: bold;
    line-height: 80px;
    font-family: 'Poppins';
}

.banner-left span{
    padding: 10px 24px;
    background: #E02C6D;
    transition: 0.3s;
}

.banner-left span a {
    color: #fff;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    font-family: 'Poppins';
    
}

.banner-left span i{
    color: #fff;
    margin-left: 15px;
}


.banner-left span:hover {
    background:  rgb(221, 97, 143);
}


.banner-right{
    width: 556px;
    height: 438px;
}

.banner-right img{
    width: 100%;
    height: 100%;
}


/* Animation-area */


.banner-right:hover .animated {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
  }

  @-webkit-keyframes up-down {
    0% {
      transform: translateY(10px);
    }
    100% {
      transform: translateY(-10px);
    }
  }
  
  @keyframes up-down {
    0% {
      transform: translateY(10px);
    }
    100% {
      transform: translateY(-10px);
    }
  }



  /*Banner Tablet Screen Width */

  @media only screen and (max-width: 768px){
      .banner{
          width: 100%;
          height: 777px;
      }

      .container{
        max-width: 600px;
        margin: 0 auto;
      }

      .banner-inner{
          display: block;
      }

      .banner-left {
        width: 60%;
        margin-bottom: 50px;
    }

      .banner-left h1{
        color: #fff;
        font-size: 50px;
        font-weight: bold;
        line-height: 60px;
        font-family: 'Poppins';
    }
    
    .banner-left span{
        padding: 8px 18px;
        background: #E02C6D;
        transition: 0.3s;
    }
    
    .banner-left span a {
        color: #fff;
        font-size: 13px;
        line-height: 18px;
        font-weight: 500;
        font-family: 'Poppins';
        
    }
    
    .banner-left span i{
        color: #fff;
        margin-left: 12px;
    }

    .banner-right:hover .animated {
        animation: none;
    }


    .banner-right img{
        width: 70%;
        height: 70%;
    }

  }


  @media only screen and (max-width: 480px){
      .banner-left{
          width: 100%;
      }

      .banner-right{
        width: 100%;
    }

    .banner-right img{
        width: 100%;
    }
  }


/* Card-Style */

.card-wrapper{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2em;
}


.card{
    padding: 15px;
    border-radius: 10px;
    box-shadow: 10px 10px 40px grey;
}

.card-img img{
    width: 100%;
}

.card h2{
    color: #18191F;
    font-size: 28px;
    line-height: 40px;
    font-weight: bold;
}

.card p{
    color:  #6C6C6C;
    font-size: 16px;
    line-height: 26px;
}


/* Card Tablet Screen Width */

@media screen and (max-width:768px){

    .card-wrapper{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
    }

}


/* Card Mobile Screen Width */

@media screen and (max-width: 480px){

    .container{
        max-width: 400px;
        margin: 0 auto;
      }

    .card-wrapper{
        display: block;
    }

    .card{
        margin-bottom: 20px;
    }
}



/* About-section */

.about h1{
    margin: 0;
    font-size: 48px;
    line-height: 60px;
    color: #0A0826;
}

.about  p{
   color: #6C6C6C;
   margin-bottom: 36px;
}

/* About Tablet Css Width */

@media screen and (max-width:768px){

    .banner-right{
        width: 100%;
    }

    .banner-right img{
        width: 100%;
    }
}


/* Team-css */

.wrapper{
    display: flex;
    justify-content: space-between;
}

.team-logo{
    text-align: center;
}

.team-logo img{
    width: 35%;
    filter: grayscale(100);
    transition: 0.4s ease-in-out;
    padding: 15px 0;
    display: inline-block;
}

.team-logo:hover img{
    filter: none;
    transform: scale(1.1);
}


/* Team Moble Css Width */

@media screen and (max-width:768px){
    .wrapper{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }
}

/* Live-watch */


.live-wrapper {
    text-align: center;
}

.live-wrapper h2{
    font-size: 38px;
    font-weight: 600;
    letter-spacing: 5px;
}

/* Live Watch Css Width */
@media screen and (max-width:768px){

    .live-wrapper iframe{
        width: 100%;
        height: 400px;
    }
}



/* Footer-css */

.footer-item {
    text-align: center;
}

.footer-item img{
    height: 100px;
    width: 400px;
}



.social-icon span i{
    cursor: pointer;
    background: #969BAB;
    padding: 10px 10px;
    border-radius: 50px;
}


.footer-item p{
    color: #000000;
    font-size:18px;
    line-height: 24px;
}
